@using WebApplication8.Models.UtilEntities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET MVC6 Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*Html.Raw(MybundleRegister.AddScript(MybundleRegister.ContentCSS))*@
    @*Scripts.Render("~/BootstrapValidator/css")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.BoostrapValidatorCSS, Url.RouteUrl(new { controller = "/", area = "" }),Context.Request))
    @*Styles.Render("~/LTE211/css")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.LTE211CSS, Url.RouteUrl(new { controller = "/", area = "" }), Context.Request))
    @*Scripts.Render("~/bundles/modernizr")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.Modernizr,Url.RouteUrl(new {controller="/",area="" }), Context.Request))
    @*Styles.Render("~/Jtable/css")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.JTableCSS, Url.RouteUrl(new { controller = "/", area = "" }), Context.Request))

    @*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">*@
</head>
<body class="skin-blue sidebar-mini">
    <div class="wrapper">

        @{@await Html.PartialAsync("Partials/_Header");}

        <!-- Left side column. contains the logo and sidebar -->
        @{@await Html.PartialAsync("Partials/_Aside"); }

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">



            <section class="content">
                @*{Html.RenderPartial("_Alerts"); }*@
                @{await Html.RenderPartialAsync("_Alerts"); }
                @RenderBody()
            </section>


        </div><!-- /.content-wrapper -->

        @{@await Html.PartialAsync("Partials/_Footer");}

        @{@await Html.PartialAsync("Partials/_ControlSideBar");}
    </div><!-- ./wrapper -->






    @*Scripts.Render("~/LTE211/jquery")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.LTE211JS, Url.RouteUrl(new { controller = "/", area = "" }), Context.Request))
    @*Scripts.Render("~/Jtable/jquery")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.JTableJS, Url.RouteUrl(new { controller = "/", area = "" }), Context.Request))
    @*Scripts.Render("~/BootstrapValidator/jquery")*@
    @Html.Raw(MybundleRegister.AddScript(MybundleRegister.BootstrapValidatorJS, Url.RouteUrl(new { controller = "/", area = "" }),Context.Request))
    <script>
    $.widget.bridge('uibutton', $.ui.button);
    </script>


    @RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
       // $("#id-alert").fadeOut(6000);
        // setTimeout(function () { $("#id-alert").hide() }, 3000)
    });



    </script>



</body>


</html>