@model IEnumerable<WebApplication8.Models.WebShop.Product>
@using WebApplication8.Models.ShoppingCart;

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Discount</th>
            <th>Quantity</th>
            <th>Amount</th>
           
        </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@Html.FormatValue(p.PriceP, "{0:c}")</td>
                <td>@Html.FormatValue(p.Discount, "{0:p}")</td>
                <td><input class="quantity" value="@p.Quantity" data-id="@p.Id" size="3" id="@p.Id-ss" /></td>
                <td id="@p.Id">@Html.FormatValue(p.PriceP * p.Quantity * (1 - p.Discount), "{0:c}")</td>
                
            </tr>
        }
        <tr>
            <th colspan="5" style="text-align:right">Total:</th>
            <th class="nn-cart-total">@Html.FormatValue(ShoppingCart.Total, "{0:c}")</th>
            
        </tr>
    </table>
   


